In [1]:
from io import StringIO
import pandas as pd

In [2]:
def clean_airline_code(s):
    '''
    Gets the airline code from s
    Note: Assumes that airline code only consists of alphabets
    Requires: s is a string
    '''
    result = ''
    for i in range(len(s)-1):
        if s[i].isalpha() and s[i+1].isalpha():
            result += s[i]
        if s[i].isalpha() and (not s[i+1].isalpha()):
            result += s[i] + ' '
    if s[-1].isalpha():
        result += s[-1]
    return result.strip()


def clean_data(s):
    '''
    Reads in stringifyed table and performs the required data manipulations
    '''
    data = StringIO(s)
    df = pd.read_csv(data, sep=';')
    df['FlightCodes'] = range(int(df['FlightCodes'].min()),int(df['FlightCodes'].max())+10,10)
    df['To'] = df['To_From'].apply(lambda x: x.split('_')[0].upper())
    df['From'] = df['To_From'].apply(lambda x: x.split('_')[1].upper())
    df['Airline Code'] = df['Airline Code'].apply(lambda x: clean_airline_code(x))
    df.drop('To_From', inplace=True, axis=1)
    return df
clean_data('Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n')

     Airline Code    DelayTimes  FlightCodes        To       From
0      Air Canada      [21, 40]        20015  WATERLOO    NEWYORK
1      Air France            []        20025  MONTREAL    TORONTO
2  Porter Airways  [60, 22, 87]        20035   CALGARY     OTTAWA
3      Air France      [78, 66]        20045    OTTAWA  VANCOUVER
4       Lufthansa      [12, 33]        20055    LONDON   MONTREAL